html
  head
  body
    script(src='/build/debug/daojs/loader/1/1/index.js')
    script(src=urlResolve + '?callback=requireJsConfig')
    script(src='/build/debug/cdnjs/require.js/2/3/index.js', data-main=urlMain)