html
  head
  body
    script(src='/build/release/daojs/requirejs-loader/1/1/index.js')
    script(src=urlResolve + '?callback=requireJsConfig')
    script(src='/build/release/cdnjs/require.js/2/3/index.js', data-main=urlMain)